@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --section-col: #eee;white;
    --subsection-col: #1c2027d0;slategray;
    --header-col: #eee;white;
    --subheader-col: white;#1c2027;#607080;
    --text-col: #a2a2a4;
    --bg-col: #383b43;
    --substrate-col: #1c2027;
    --border-col: #556065b0;#607080b0;
    --border-text-col: #556065;
    --hover-col: #2b2f37;#484b53;

    --maxwidth: 860px;
    --minwidth: 380px;
}

::selection {
    color: white;
    background-color: forestgreen;
}

.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 5em;
    grid-template-rows: 100%;

    height: 1.5em;
    width: calc(100% - 2 * 2em);
    padding: .5em 2em;

    max-width: var(--maxwidth); 
    margin-left: -2em;


    border-bottom: 1px var(--border-col) solid;
    outline-offset: -5px;

    background: var(--bg-col);
    box-shadow: 5px 0px 15px #0005;
}




html {
    background: var(--substrate-col);
}

body {
    min-width: var(--minwidth);
    max-width: var(--maxwidth);
    margin: 0 auto;
    overflow-x: hidden;

    padding: 1em;
    padding-bottom: 6em;

    background: white;

    box-shadow: 5px 0px 40px #0005;

    font-family: "Source Serif 4", Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 20px;
    color: Black;

    counter-reset: fig;
}
@media (min-width: 30em) {
    body {
        padding: 2em;
        padding-bottom: 6em;
    }
}
@media (min-width: 50em) {
    body {
        padding: 4em;
        padding-bottom: 6em;
    }
}

p, li {  
    text-align: justify;
    text-justify: inter-word;
}

p:not(.noindent) {
    text-indent: 2em;
}

ol, ul {
    padding-inline-start: 2em;
}

ol.rb {
    counter-reset: list;
}
ol.rb > li {
    list-style: none;
}
ol.rb > li::before {
    content: counter(list) ") ";
    counter-increment: list;
}



.figure-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
}

.figure-container iframe {
    max-width: 100%;
//    heigth: auto;
}

.figure-container.wide iframe {
    width: 14.5cm;
    aspect-ratio: 1.66;
}
.figure-container.square iframe {
    width: 11cm;
    aspect-ratio: 1;
}

.caption {
    margin-top: 1em;
//    width: max-content;
    max-width: 100%;
    text-align: center;
}

.figure-container .caption::before {
    content: "Fig.\00A0" counter(fig) ". ";
    counter-increment: fig;
}
html[lang="ru"] .figure-container .caption::before {
    content: "Рис.\00A0" counter(fig) ". ";
}


figref::before {
    content: "(fig.\00A0";
}
html[lang="ru"] figref::before {
    content: "(рис.\00A0";
}
figref::after {
    content: ")";
}

hr {
    border: none;
    border-bottom: 1px #999 solid;
}

hr.discont {
    position: relative;
    overflow: visible;
    --fade: 10em;
    z-index: 100;
    border-bottom: 2px #999 dotted;
    margin: 4em 0;
}

hr.discont::before,
hr.discont::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;

    height: calc(2 * var(--fade));
    z-index: -1;

    top: calc(-1 * var(--fade) + 1px);
    background: linear-gradient(transparent, white 39%, white 49%, transparent 50%, white 51%, white 61%, transparent 100%);
}



/* mathjax */
:root {
    --scrollbar-width: 5px;
}

mjx-container[jax="CHTML"][display="true"][display="true"] {
    overflow-x: auto;
    overflow-y: hidden;
    padding: var(--scrollbar-width) 0;
    margin: calc(1em - var(--scrollbar-width)) 0;
}

/* (Chrome, Safari) */

mjx-container[jax="CHTML"][display="true"]::-webkit-scrollbar {
  height: var(--scrollbar-width);
}
mjx-container[jax="CHTML"][display="true"]::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: var(--scrollbar-width);
}
mjx-container[jax="CHTML"][display="true"]::-webkit-scrollbar-thumb:hover {
  background: #888;
}


/* Firefox */
@-moz-document url-prefix() {
  mjx-container[jax="CHTML"][display="true"] {
    scrollbar-width: var(--scrollbar-width);
    scrollbar-color: #ddd #fff6;
  }
}