@media(min-width: 800px) {
  body {
    font-size: 24px;
  }
}
@media(min-width: 1100px) {
  body {
    font-size: 32px;
  }
}

body {
  margin: 0;
}


/* Plot Canvases */
#plotContainer {
  position: relative;
}
#plotContainer svg { 
  position: absolute;
  display: block;
  width: 100%;
  inset: 0;
  scale: 1 -1;
}
#plotContainer svg:first-child {
  position: relative;
}
#plotContainer svg * { 
  vector-effect: non-scaling-stroke;
}


/* Manipulators */
#controlPanel {
  margin-top: .5em;
}
.plotSlider {
  width: calc(100% - 10px);
  margin-left: 5px;
}


/* Plot Styles */
.plotline {
  stroke-width: 0.07;
}
.plotPoint {
  r: 0.05px;
}


/* Text */
#plotlabel {
  width: 6.5em;
  position: absolute;
  left: 50vw;
  bottom: calc(100% + .1rlh + .1em);
  transform: translate(-50%);

  font-size: 1.5em;
}




